---
layout: default
---

<div itemscope itemtype="https://schema.org/Periodical">
  <h1 itemprop="name">{{ page.name }}</h1>

  {{ page.content }}

  {% if page.issues.size > 0 %}
  <h2>Τεύχη</h2>
  <ol>
    {% for issue in page.issues %}
    <li itemprop="hasPart" itemscope itemtype="https://schema.org/PublicationIssue">
      <a href="/magazine-issues/{{ issue.id }}/?{{ issue.issue_number }}">
        <span itemprop="issueNumber">{{ issue.issue_number }}</span> ({{ issue.date_published }})
      </a>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>