---
layout: default
---

<div itemscope itemtype="https://schema.org/PublicationIssue">
  <h1 itemprop="issueNumber">{{ page.issue_number }}</h1>

  Τεύχος του περιοδικού
  «<a href="/magazines/{{ page.magazine.id}}/?{{ page.magazine.name }}">{{ page.magazine.name }}</a>»
  με ημερομηνία έκδοσης {{ page.date_published }}.
  {% if page.pages_number %}{{ page.pages_number }} σελίδες.{% endif %}

  <h2>Βιβλιογραφικές παραπομπές</h2>

  {% if page.references.photographs.size > 0 %}
  <h3>Φωτογραφίες</h3>

  <ul>
    {% for reference in page.references.photographs %}
    {% include reference-magazine-issue-photograph.html reference=reference %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.references.works.size > 0 %}
  <h3>Έργα</h3>

  <ul>
    {% for reference in page.references.works %}
      {% include reference-magazine-issue-work.html reference=reference %}
    {% endfor %}
  </ul>
  {% endif %}
</div>